<form
  [formGroup]="form"
  formGroupTracker
  (formChanged)="formChanged($event)"
  (isChanged)="disabled = !$event"
>
  <h5>Name</h5>
  <span class="p-float-label">
    <input id="name" type="text" pInputText formControlName="name" formControlTracker>
    <label for="name">Name</label>
</span>
<h5>Surname</h5>
  <span class="p-float-label">
    <input id="surname" type="text" pInputText formControlName="surname" formControlTracker>
    <label for="surname">Surname</label>
</span>
  <div class="form__footer">
    <p-button [disabled]="disabled" (onClick)="submit()" label="Submit"></p-button>
  </div>
</form>
