<div class="form-tracker">
  <div class="form-tracker__form">
    <form
      [formGroup]="form"
      formGroupTracker
      (formChanged)="formChanged($event)"
      (isChanged)="isChanged($event)"
      [getValueChange]="true"
    >
      <div class="p-fluid p-grid">
        <div class="field col-12">
          <span class="p-float-label">
          <input
            id="name"
            type="text"
            pInputText
            formControlName="name"
            formControlTracker
          >
          <label for="name">Name</label>
        </span>
        </div>
        <div class="field col-12">
          <span class="p-float-label">
            <input
              id="surname"
              type="text"
              pInputText
              formControlName="surname"
              formControlTracker
              [changeFn]="changeFn"
            >
            <label for="surname">Surname</label>
          </span>
        </div>
      </div>

      <div class="form__footer">
        <p-button [disabled]="disabled" (onClick)="submit()" label="Submit"></p-button>
      </div>
    </form>
  </div>
  <div class="form-tracker__tracker">
    <h3>Is Changed: {{changed}}</h3>
    <div class="form-tracker__tracker-value">
      <pre>{{changeValue | json}}</pre>
    </div>
  </div>
</div>


