<div class="form-tracker">
  <div class="form-tracker__form">
    <form
      [formGroup]="form"
      formGroupTracker
      (formChanged)="formChanged($event)"
      (isChanged)="isChanged($event)"
      [getValueChange]="getValueChange"
    >
      <div class="p-fluid p-grid">
        <div class="field col-12">
          <span class="p-float-label">
          <input
            id="name"
            type="text"
            pInputText
            formControlName="name"
            formControlTracker
          >
          <label for="name">Name</label>
        </span>
        </div>

        <div class="field col-12">
          <span class="p-float-label">
            <input
              id="surname"
              type="text"
              pInputText
              formControlName="surname"
              formControlTracker
            >
            <label for="surname">Surname</label>
          </span>
        </div>

        <div class="field col-12">
          <span class="p-float-label">
            <textarea
              id="description"
              formControlName="description"
              formControlTracker
              [rows]="5"
              [cols]="30"
              pInputTextarea
              [autoResize]="true"
            ></textarea>
            <label for="description">Description</label>
          </span>
        </div>

        <div class="field col-12">
          <p-checkbox
            formControlName="admin"
            formControlTracker
            label="Admin"
            [binary]="true"
          ></p-checkbox>
        </div>

        <div class="field col-12">
        <span class="p-float-label">
          <p-multiSelect
            formControlName="cities"
            formControlTracker
            [changeFn]="changeFn"
            id="cities"
            [options]="cities"
            optionLabel="name"
            display="chip"
          ></p-multiSelect>
          <label for="cities">Cities</label>
        </span>
        </div>
      </div>

      <div class="p-fluid p-grid" formArrayName="access" formArrayTracker>
        <ng-container *ngFor="let access of accessGroup; index as i">
          <ng-container [formGroupName]="i" formGroupTracker>
            <div class="field col-12" >
              <span class="p-float-label">
                <input
                  id="name{{i}}"
                  type="text"
                  pInputText
                  formControlName="name"
                  formControlTracker
                  [isFormArray]="true"
                  arrayName="access"
                  [arrayIndex]="i"
                >
                <label for="name{{i}}">Name page</label>
              </span>
            </div>
            <div class="field col-12">
              <p-checkbox
                formControlName="access"
                formControlTracker
                [isFormArray]="true"
                arrayName="access"
                [arrayIndex]="i"
                label="Access"
                [binary]="true"
              ></p-checkbox>
            </div>
          </ng-container>
        </ng-container>

      </div>

      <div class="form__footer">
        <p-button [disabled]="disabled" (onClick)="submit()" label="Submit"></p-button>
      </div>
    </form>
  </div>
  <div class="form-tracker__tracker">
    <div class="p-fluid p-grid">
      <div class="field col-12">
        <p-checkbox
          [(ngModel)]="getValueChange"
          label="Get Value Change"
          [binary]="true"
        ></p-checkbox>
      </div>
    </div>
    <h3>Is Changed: {{changed}}</h3>
    <div class="form-tracker__tracker-value">
      <pre>{{changeValue | json}}</pre>
    </div>
  </div>
</div>


